body {
    padding: 10px;
}

#container{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  border:1px #ccc solid;
  margin:10px;
}

#container > #img{
  margin-left: 20px;
}

#container > #content{
  margin-left: 200px;
  margin-top: 10px;
  position: relative;
}

.btn{
  background-color:rgb(79, 121, 255);
  color:white;
}

.btn:hover{
  background-color: rgb(0, 82, 255);
  color:white;
}

#view{
  position:absolute;
  bottom: 30px;
}

#create_form{
  position:relative;
  left:10px;
  width:90%;
}

#create_form > .form-control{
  margin-bottom: 20px;
  width: 300px;
}
#create{
  position:absolute;
  bottom: -54px;
}

.input-group-text{
  position: relative;
  bottom: 58px;
  left:266px;
}

.input-group-prepend{
  margin-bottom: -40px;
}

#img_listing{
  position:absolute;
  right:-600px;
  bottom:0px
}

#infos{
  border:2px #ccc solid;
  color:white;
  background-color: rgb(54, 111, 255);
  width:500px;
  padding:10px;
  padding-bottom: 40px;
  position: relative;
  left:20px;
  top:0px;
}

#bid_form{
  position:relative;
  bottom:-40px;
}

#bid_form > form > #money{
  width: 320px;
}

#bid_submit{
  position: relative;
  top:10px;
}


#btn_listing{
  position: relative;
}

#close{
  background-color:rgb(0, 181, 55);
  border:2px #ccc solid ;
  font-size: 13px;
  text-align: center;
  color:white;
  border-radius: 25px;
  outline:None;
  position:absolute;
  left:4px;
  bottom:-21px;
}

#close:focus{
  background-color:rgb(45, 0, 0) ;
}

#closed{
  background-color:rgb(45, 0, 0);
  border:2px #ccc solid ;
  font-size: 13px;
  text-align: center;
  color:white;
  border-radius: 25px;
  outline:None;
  position:absolute;
  left:4px;
  bottom:-21px;
}


#remove{
  background-color:rgb(17, 77, 79);
  border:2px #ccc solid ;
  font-size: 16px;
  text-align: center;
  color:white;
  border-radius: 20px;
  outline:None;
  position:relative;
  left:400px;
  bottom:21px;
}

#add{
  background-color:rgb(17, 77, 79);
  border:2px #ccc solid ;
  font-size: 16px;
  text-align: center;
  color:white;
  border-radius: 20px;
  outline:None;
  position:relative;
  left:400px;
  bottom:21px;
}

#line{
  position: relative;
  bottom:200px;
}
#comments{
  position:relative;
  bottom:-50px;
}
#comments>table{
  border:2px #ccc solid;
  padding:20px;
}
tr,td{
  padding:10px;
  border:2px #ccc solid;

}
#acom{
  font-size: 10px;
  text-align: center;
  position:relative;
  top:5px;
}
#com{
  border-radius: 20px;
  border:1px #ccc solid ;
  position:relative;
  left:2px;
  top:5px;
  outline:none;

}
.des{
  width:400px;
  position:relative;
  left:250px;
  bottom:-20px;
  color: rgb(4, 114, 149);
}

#final{
  postion:relative;
  top:10px;
}
