{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing with Category: {{category.name}}</h2>
      {% for listing in listings %}
          <div id="container">
            <div id="img">
              {% if listing.img_url %}
                <img src="{{listing.img_url}}" width=250px height=270px; />
              {% endif %}
            </div>
            <div id="content">
              <h4>{{ listing.title }}</h4>
              <p><span style="font-weight:700;">Current price:</span> <span style="font-weight:600;">{{ listing.price }}$</span></p>
              <p style="color:rgb(113, 170, 172); font-size:13px;">Created at {{ listing.time }}</p>
              {% if request.user == listing.owner %}
                {% if listing.active %}
                  <p style="font-weight:bold; color:green;">Open</p>
                {% endif %}
              {% endif %}
              <a href="{% url 'listing' listing.id %}"><button id="view" class="btn">View Listing</button></a>
            </div>
            <div class="des">
              <h5 style="color:rgb(38, 12, 145);">Description:</h5>
              {{ listing.description }}
            </div>
          </div>
      {% empty %}
        <br />
        <p style="color:rgb(255, 92, 92);">No listings yet.</p>
      {% endfor %}
{% endblock %}
